body {
  font-size: 12px;
}

img {
  display: block;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

ol {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: rgb(117, 102, 255);
  transition: color 0.4s;
}

li {
  border-bottom: 4px solid #000;
}

button {
  display: block;
  min-width: 100px;
  margin: 20px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10%;
  background: rgb(100, 130, 250);
  color: white;
  cursor: pointer;
}

button:hover,
button:focus {
  color: aquamarine;
  box-shadow: 0 5px 5px #777;
  transition: all 0.4s;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  padding-bottom: 20px;
  margin: 20px 0;
  text-align: center;
  border-bottom: 2px solid rgb(117, 102, 255);
}

.home-list-item:hover,
.home-list-item:focus-within {
  color: rgb(117, 102, 255);
  transition: color 0.4s;
}

.home-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.navigation-link {
  font-size: 24px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: rgb(117, 102, 255);
  transition: color 0.4s;
}

.function-title,
.result-container {
  margin: 20px 0;
}

.result {
  color: brown;
}
